<template>
 <b-modal id="addCsv" ref="addCsv" size="md" title="Person Information" centered hide-header hide-footer>
    <p class="my-4 text-center modal-title text-dark font-weight-bold">Add Pass holder via CSV</p>
    <form ref="form" @submit.stop.prevent="save" class="p-3">
      <b-form-row>
          <b-form-file
            id="lname" v-model="info.csv"
            required plain class="border bg-muted text-dark rounded p-2"
          ></b-form-file>
	    </b-form-row>
	    <b-form-row class="justify-content-end mt-md-4">
	    	 <b-button type="submit" variant="dark" size="sm" class="text-wrap">
          <span>Submit</span></b-button>
	    </b-form-row>

    </form>
  </b-modal>
</template>
<script type="text/javascript">
import {Pass} from '@/services/pass'
import {mapState, mapGetters, mapActions, mapMutations } from 'vuex'

	export default{
		name:'add-csv-modal',
    data()
    {
      return{
        info:{
          csv:Array()
        }
      }
    },
    methods:{
      save()
      {
        Pass.uploadCSV(this.info).then(response => {  
              let blob = new Blob([response.data], { type: 'application/pdf' })
              let link = document.createElement('a')
              window.open(window.URL.createObjectURL(blob))
              this.refresh() /// tinapulan
              // link.href = window.URL.createObjectURL(blob)
              // link.download = 'Report.pdf'
              // link.click()
               this.$refs['addCsv'].hide()
               alert('add csv complete')
        }).catch(err => {
          console.log(err)
        })

      },
      refresh()
      {
        Pass.passholdersList().then(response => {
          this.setPassholders(response.data)
        }).catch(err => {
          console.log(err)
        })
      },
      ...mapMutations('pass',{
          setPassholders:'setPassholders'
      })
    }
	};
</script>