<template>
<b-modal id="addPersonModal"  ref="addPersonModal" class="round-border" centered title="Person Information" hide-header hide-footer>
  <p class="my-4 text-center modal-title text-dark font-weight-bold">Personal Information with Pass</p>
  <form ref="form" @submit.stop.prevent="save"  class="p-3">
    <b-form-row>
      <b-col md="5">
        <div class="form-label-group">
          <input required type="text" class="form-control" v-model="info.control_no" id="control_no" placeholder="Enter name" aria-describedby="control_noHelp">
          <label for="control_no">Control No.<sup class="text-danger font-weight-bold">*</sup></label>
        </div>
      </b-col>
      <b-col>
        <div class="form-label-group">
          <input required type="text" class="form-control" v-model="info.fullname" id="fname" placeholder="Enter name" aria-describedby="fnameHelp">
          <label for="fname">Full Name<sup class="text-danger font-weight-bold">*</sup></label>
        </div>  
      </b-col>
	  </b-form-row>
    <b-form-row class="my-md-2">
      <b-col md="6">
        <div class="form-label-group">
          <select required class="form-control" v-model="info.hstatus" id="hstatus" aria-describedby="hstatus">
            <option :value="null" class="dropdown-item" disabled>Health status:<sup class="text-danger font-weight-bold">*</sup> </option>
            <option v-for="status in healthStatuses" class="dropdown-item" :value="status">{{status.name}}</option>
          </select>
        </div>
      </b-col>
      <b-col md="6">
        <div class="form-label-group">
          <select required class="form-control" v-model="info.passtype" @change="filterSchedules" id="pass_type" placeholder="Health Status" aria-describedby="pass_type">
            <option :value="null" class="dropdown-item" disabled>Pass type:<sup class="text-danger font-weight-bold">*</sup> </option>
            <option v-for="type in passTypes" class="dropdown-item" :value="type">{{type.name}}</option>
          </select>
        </div>
      </b-col>
    </b-form-row>
    <b-form-row class="my-md-2">
      <b-col md="6">
        <div class="form-label-group">
          <input type="text" class="form-control" v-model="info.household_no" id="household_no" placeholder="Enter name" aria-describedby="household_noHelp">
          <label for="household_no">Household No.<sup class="text-danger font-weight-bold">*</sup></label>
        </div>
      </b-col>
       <b-col md="6">
        <div class="form-label-group">
          <select required class="form-control" v-model="info.schedule" id="schedule" placeholder="Health Status" aria-describedby="schedule">
            <option :value="null" class="dropdown-item" disabled>Schedule:<sup class="text-danger font-weight-bold">*</sup> </option>
            <option v-for="schedule in filtered_schedules" class="dropdown-item" :value="schedule">{{schedule.name}}</option>
          </select>
        </div>
      </b-col>
    </b-form-row>
    <b-form-row>
       <b-col>
        <div class="form-label-group">
          <input required type="text" class="form-control" v-model="info.address" id="address" placeholder="Enter name" aria-describedby="addressHelp">
          <label for="address">Address:<sup class="text-danger font-weight-bold">*</sup></label>
        </div>
      </b-col>
    </b-form-row>
	  <b-form-row class="justify-content-end my-md-2">
	    <b-button type="submit" variant="dark" size="sm">
        <span><b-spinner v-if="loading" small type="grow"></b-spinner>Submit</span></b-button>
	  </b-form-row>
  </form>
</b-modal>
</template>
<script type="text/javascript">
import {Pass} from '@/services/pass'
import {mapState, mapGetters, mapActions, mapMutations } from 'vuex'

	export default{
		name:'add-person-modal',
    data(){
      return{
        info:{
          control_no:'',
          fullname:'',
          hstatus:null,
          passtype:null,
          schedule:null,
          household_no:'',
          address:'',
          withpass:1,
        },
        loading:false,
        filtered_schedules:null
      }
    },
    methods:{
      save(){
        this.loading = true
        this.info.health_status = this.info.hstatus.id
        Pass.addPersonWithPass(this.info).then(response => {
          this.loading = false 
          alert('add success');
          this.info.control_no = ''
          this.info.fullname = ''
          this.info.hstatus = null
          this.info.passtype = null
          this.info.schedule = null
          this.info.household_no = ''
          this.info.address = ''
          this.$refs['addPersonModal'].hide()  
          let blob = new Blob([response.data], { type: 'application/pdf' })
          let link = document.createElement('a')
          window.open(window.URL.createObjectURL(blob))
          this.refresh() /// tinapulan
        }).catch(err => {
          console.log(err)
        })  
      }, 
      refresh()
      {
        Pass.passholdersList().then(response => {
          this.setPassholders(response.data)
        }).catch(err => {
          console.log(err)
        })
      },
      ...mapMutations('pass',{
          setPassholders:'setPassholders'
      }),
      filterSchedules(){
        var from = 0
        var to = 0
        if(this.info.passtype.id == 1){
          from = 3
          to = 4
        }else{  
          from = 0
          to = 3 
        }
        this.filtered_schedules = this.schedules.slice(from,to)
      }
    },
    computed: {
      ...mapGetters('pass', {
          healthStatuses: 'healthStatuses',
          passTypes: 'passTypes',
          schedules: 'schedules',
      }),
    }
	};
</script>


<!-- TO DO UI -->
<!-- ADD RED ASTERISK FOR REQUIRED FIELDS -->
<!-- ADD SAVING ANIMATION -->
<!-- HIDE MODAL AFTER -->
<!-- TO DO UI -->