<template>	
<b-card class="shadow">
  <b-row class="mb-4">
    <b-col md="4" class="my-auto">
      <b-card-text class="title font-weight-normal"> List of Passholders </b-card-text>
    </b-col>
    <b-col md="4" class="ml-auto my-auto">
      <!-- search -->
      <b-form-group
        label="Filter"
        label-cols-sm="3"
        label-align-sm="right"
        label-size="sm"
        label-for="filterInput"
        class="mb-0"
      >
        <b-input-group size="sm">
          <b-form-input
            v-model="filter"
            type="search"
            id="filterInput"
            placeholder="Search passholder"
          > 
          </b-form-input>
        </b-input-group>
      </b-form-group>
    </b-col>
  </b-row>
	<b-row>
    <!-- table -->
    <b-col md="12">
      <b-table ref="passholdersList" fixed :busy="isBusy" head-variant="dark" 
        :tbody-transition-props="transProps"
        primary-key="index" 
        :current-page="currentPage"
        :per-page="perPage"
        show-empty
        :filter="filter"
        :filterIncludedFields="filterOn"
        @filtered="onFiltered"
        striped hover responsive :items="passHolders" :fields="fields"
        selectable
        :select-mode="selectMode"
        @row-selected="onRowSelected"
      >
        <template v-slot:table-busy >
          <div class="text-center text-danger my-2">
            <b-spinner class="align-middle"></b-spinner>
            <strong>Loading...</strong>
          </div>
        </template>
        <template v-slot:cell(selected)="{ rowSelected }">
          <template v-if="rowSelected">
            <b-icon icon="trash-fill" class="mx-1" font-scale="1" @click="remove(selected[0].individual.id)" ></b-icon>
            <b-icon icon="pencil-square" @click="remove(selected)" ></b-icon>
          </template>
          <template v-else>
            <span aria-hidden="true">&nbsp;</span>
            <span class="sr-only">Not selected</span>
          </template>
        </template>
      </b-table> 
      <b-pagination
        v-model="currentPage"
        :total-rows="totalRows"
        :per-page="perPage"
        align="left"
        size="sm"
        class="mt-4"
        v-show="!isBusy"
      >  
      </b-pagination>
    </b-col>
  </b-row>	
</b-card>

</template>
<script type="type/javascript">
import { Pass } from '@/services/pass'
import { mapState, mapGetters, mapActions, mapMutations } from 'vuex'

export default {
name:'passholder-list',
data(){
  return{
    isBusy: false,
    fields: [{key:'selected', label:'', thStyle:'width:10%;'},
        { key: 'control_no', label:"Pass No.",sortable: true, thStyle:'width:25%;' },
        { key: 'individual.name', label:"Name",sortable: false },
        { key: 'individual.health_status', label:"Health Status",sortable: true,
          formatter: value => {
            return this.healthStatus.find(data => data.id == value).name
          },
          thStyle:'width:20%;'
        },
    ],
    transProps: {
      // Transition name
      name: 'flip-list'
    },
    totalRows:1,
    currentPage:1,
    perPage:10,
    filter: null,
    filterOn: [],
    selectMode: 'single',
    selected: [],
  }
},
computed:{
    ...mapGetters('pass', {
      healthStatus: 'healthStatuses',
      passHolders: 'passHolders',
  }),
},
mounted(){
  this.passholdersList()
  this.totalRows = this.passHolders.length
},
methods:{
  onFiltered(filteredItems) {
    this.totalRows = filteredItems.length
    this.currentPage = 1
  },
  passholdersList(){
    this.isBusy = true
    Pass.passholdersList().then(response => {
      this.setPassholders(response.data)
      // this.computed.passHolders()
      this.isBusy = false
      }).catch(err => {
        console.log(err)
    })
  },
  ...mapMutations('pass',{
      setPassholders:'setPassholders'
  }),
  onRowSelected(items) {
    this.selected = items
  },
  remove(id){
    console.log(id)
    // if(confirm("delete?")){
    //   console.log(data)
    // }

    Pass.removePersonWithPass(id).then(response =>{
      console.log(response)
    })
    
  }
}
};
</script>

