$colors:(
	blue: #3490dc,
	purple: #9561e2,
	red: #e3342f,
	orange: #f6993f,
	yellow: #ffed4a,
	green: #38c172,
	teal: #4dc0b5,
	white: #fff,
	stealth: transparent,
	ygreen:#5beb34,
	muted:#cfcfcf,
);

@function color($color_name){
	@return map-get($colors, $color_name)
}