// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~bootstrap-vue/dist/bootstrap-vue.css';
@import 'variables';

body{
	color:#efefef;	
}

.title {
 	font-size:1.2rem;
 	color:#171717;
 }

 .modal-title{
 	font-size: 1.2rem;
 }

.navbar {
 	font-size: 1rem !important;
 	font-weight: 500;
 	cursor: pointer !important;
 }

 .round-border {
 	border-radius: 25px !important;
 }

 .border-bottom-secondary {
 	border-bottom: 1px solid #ced4da !important;
 }

.bg-muted{
	background-color: color(muted);
}

// table
.details{
	padding: 1rem;
	font-size: 0.9rem;
	font-weight: bold;
	color: color(muted);
}


