<template>	
<div class="card shadow">
	<div class="card-body">
		
		<table class="table table-striped">
  			<thead class="" ="thead-dark">
    			<tr>
      				<th scope="col">#</th>
      				<th scope="col">First</th>
      				<th scope="col">Last</th>
      				<th scope="col">Handle</th>
    			</tr>
  			</thead>
  			<tbody>
    			<tr>
      			<th scope="row">1</th>
      			<td>Mark</td>
      			<td>Otto</td>
      			<td>@mdo</td>
    			</tr>
    			<tr>
      			<th scope="row">2</th>
      			<td>Jacobs</td>
      			<td>Thornton</td>
      			<td>@fat</td>
    			</tr>
    			<tr>
      			<th scope="row">3</th>
      			<td>Larry</td>
      			<td>the Bird</td>
      			<td>@twitter</td>
    			</tr>
  			</tbody>
		</table>
	</div>	
</div>
</template>
<script type="type/javascript">
import {Pass} from '@/services/pass'

export default {
  name:'passholder-list',
  data(){
    return {
    },
  },
  methods:{
    test()
    {
      Pass.test();
    }
  },
  computed:{

  },
  mounted()
  {
  },
};
</script>