<template>
	<div class="">	
		<menu-bar></menu-bar>
		<router-view :key="$route.fullPath"></router-view>    
	</div>
</template>
<script type="text/javascript">
import MenuBar from './components/menu/Menu'
export default {
name:'admin-index',
components:{
	MenuBar
},
mounted() {
    // Code that will run only after the
    // entire view has been rendered
    // this.$router.push({ name:'dashboard' }) // dile maka change ug route if gamiton... to be fixed currently pag login dile modisplay automatic ang dashboard need pa e click sa ang  link... 
},	
};
</script>