<template>
<b-navbar sticky toggleable="sm" type="light" class="shadow" variant="light">
	<b-container class="col-md-9 px-0">
		<b-navbar-brand href="#">ProTracer</b-navbar-brand>
    	<b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
    	<b-collapse id="nav-collapse" is-nav>
      		<b-navbar-nav>
        		<router-link :to="{ name: 'dashboard' }" tag="b-nav-item">
        			<b-icon icon="grid"></b-icon><span class="ml-1">Dashboard</span>
				</router-link>
       			<router-link :to="{ name: 'passholder' }" tag="b-nav-item">
       				<b-icon icon="archive"></b-icon><span class="ml-1">Pass Holder</span>
		 		</router-link>
      		</b-navbar-nav>
      	<!-- Right aligned nav items -->
      		<b-navbar-nav class="ml-auto">
		        <b-nav-item-dropdown right>
		          <!-- Using 'button-content' slot -->
		          <template v-slot:button-content>
		            <em>{{ Username }}</em>
		          </template>
		          <b-dropdown-item href="#">Profile</b-dropdown-item>
		          <b-dropdown-item href="#" @click="logout()"><b-icon icon="power"></b-icon><span class="ml-1">Logout</span></b-dropdown-item>
		        </b-nav-item-dropdown>
	    	</b-navbar-nav>
    	</b-collapse>
	</b-container>    	
</b-navbar>
</template>

<script>
export default {
	name:'menubar',
	methods: {
		logout()
		{
			this.$store.commit('account/logoutUser')
			this.$router.push({name: 'login'})	
		}
	},
	computed:{
		Username(){
			return this.$store.getters['account/getUser'].name
		}
	}
}
</script>