<template>
<b-container fluid class="text-light col-md-9">
	<b-row class="mt-md-5">
		<b-col md="12">
			<b-card class="text-center shadow round-border">
    			<div class="bg-secondary text-light">
 					  <b-embed
    					type="iframe"
    					aspect="16by9"
    					src="https://ourworldindata.org/grapher/total-cases-covid-19/"
    					allowfullscreen
  						></b-embed>		
    			</div>
  			</b-card>
		</b-col>	
	</b-row>
	<b-row class="my-md-4">
		<b-col md="6">
			<b-card class="text-center shadow round-border">
    			<div class="bg-secondary text-light">	
 					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
 								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
 								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
 								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
 								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
 								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.				
    			</div>
  			</b-card>
		</b-col>	
		<b-col md="6">
			<b-card class="text-center shadow round-border">
    			<div class="bg-secondary text-light">
 					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
 						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
 						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
 						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
 						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
 						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.		
    			</div>
  			</b-card>
		</b-col>	
	</b-row>
	<b-row class="my-md-4">
		<b-col md="8">
			<b-card class="text-center shadow round-border">
    			<div class="bg-secondary text-light">
 				 <b-embed
    					type="iframe"
    					aspect="1by1"
    					src="https://ourworldindata.org/grapher/covid-confirmed-cases-since-100th-case?country=PHL"
    					allowfullscreen
  						></b-embed>		
    			</div>
  			</b-card>
		</b-col>	
		<b-col md="4">
			<b-card class="text-center shadow round-border">
    			<div class="bg-secondary text-light">
 					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
 						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
 						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
 						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
 						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
 						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.		
    			</div>
  			</b-card>
		</b-col>	
	</b-row>	
</b-container>
</template>
<script>
import {Auth} from '@/services/auth'

// components
export default {
	name:'dashboard',
	components:{

	},
	data()
	{
		return {
	
		}
	},
	mounted()
	{
	},
	methods: {
	
	}
};
</script>