<template>
<b-container fluid class="text-light col-md-9">
	<b-row class="mt-md-5">
		<b-col cols="4" md="3">
			<p class="title my-auto font-weight-bold text-capitalize">Pass Holders</p>	
		</b-col>
		<b-col offset-md="3" md="3">
			<b-button variant="primary" class="font-weight-bold" size="sm" v-b-modal.addPersonModal block>
				<b-icon icon="person-plus-fill"></b-icon> Add Person w/ Pass</b-button>	
		</b-col>
		<b-col cols="4" md="3">
			<b-button variant="success" size="sm" class="font-weight-bold" v-b-modal.addCsv block ><b-icon icon="file-earmark-plus"></b-icon> Upload CSV </b-button>
		</b-col>
	</b-row>
	<b-row class="mt-md-4">
		<b-col>
			<passholder-list></passholder-list>
		</b-col>
	</b-row>
	<add-person-modal></add-person-modal>
	<add-csv-modal></add-csv-modal>
</b-container>
</template>
<script>
import {Auth} from '@/services/auth'

// components
import PassholderList from './components/PassholderList'
import AddPersonModal from './components/AddPersonModal'
import AddCsvModal from './components/AddCsvModal'
export default {
	name:'passholder',
	components:{
		PassholderList, AddPersonModal, AddCsvModal
	},
	data()
	{
		return {
	
		}
	},
	mounted()
	{
	},
	methods: {
		test(){
			alert('hello')
		},
	}
};
</script>