/*form-custom-control*/
.form-control {
  display: block;
  width: 100%;
  height: calc(2rem + 0.75rem);
  padding: 0.500rem 0.8rem;
  font-size: 0.90rem;
  font-weight: 550;
  line-height: 1.5;
  color: #5a5a5a;
  background-color: #fff;
  background-clip: padding-box;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border: 0;
  outline: 0;
  border-bottom: 1px solid black;
  }

  @media (prefers-reduced-motion: reduce) {
    .form-control {
      transition: none; } 
  }
  .form-control::-ms-expand {
    background-color: transparent;
    border: 0; }

  .form-control:focus {
    color: #5a5a5a;
    background-color: #fff;
    border-bottom: 1px solid black !important;
    top: .3rem;
     -webkit-appearance:none;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none; 
  }
  .form-control::placeholder {
    color: #888;
    opacity: 1; }

  .form-control:disabled, .form-control[readonly] {
    background-color: #f7f7f9;
    opacity: 1; }

/*placeholder-show*/
:root {
  --input-padding-x: .75rem;
  --input-padding-y: .80rem;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1;
  color: #a8a8a8;
  border: 1px solid transparent;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}
