<template>
<b-container class="col-10 col-sm-11 col-md-9 col-lg-7 mt-5 mt-md-5 pt-5">
	<b-row align-v="center">
		<b-col sm="6" class="d-none d-sm-none d-sm-block">
			<b-card class="border-0">
				<p class="font-weight-bold title">lorem ipsum</p>
  				<img src="https://quotefancy.com/media/wallpaper/3840x2160/24786-Henry-David-Thoreau-Quote-All-good-things-are-wild-and-free.jpg" class="card-img border border-primary" alt="sample image....">
			</b-card>
		</b-col>
		<b-col sm="6">
			<b-card class="col-lg-10 border-0 offset-lg-2">
				<p v-if="!invalid" class="card-title title font-weight-bold text-left mt-md-2 mb-md-4"> Enter your credentials...</p>
				<b-alert show v-else fade variant="warning">
					<p class="my-0 font-weight-bold"> 
						<b-icon icon="exclamation-triangle-fill"></b-icon> 
						<span>Invalid Credentials</span>
					</p> 
				</b-alert>
				<form @submit.prevent class="w-100">
					<div class="form-label-group row mb-md-4">
				    	<input v-model="data.email" type="email" class="form-control border-bottom-secondary" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
				    	<label for="exampleInputEmail1">Email address</label>
					</div>
					<div class="form-label-group row mb-md-4">
				    	<input v-model="data.password" type="password" class="form-control border-bottom-secondary" id="exampleInputPassword1" placeholder="Password">
				    	<label for="exampleInputPassword1">Password</label>
					</div>
					<div class="text-center font-weight-bold form-group row justify-content-end">
					  	<button type="submit" @click="Login($event)" class="btn btn-sm w-50 btn-primary font-weight-bold"> 
					  		<b-icon icon="box-arrow-in-right"></b-icon>
    						Login
					 	</button>
					</div>
				</form>
			</b-card>
		</b-col>
	</b-row>
</b-container>
</template>
<script>
import {Auth} from '@/services/auth'
export default {
	data()
	{
		return {
			data: {
				email: '',
				password: ''
			},
			invalid:false
		}
	},
	computed:{
		isLoggedIn()
		{
			return this.$store.getters['account/isLoggedIn']
		}
	},
	mounted()
	{
		if(this.isLoggedIn)
		{
			this.$router.push({ name: 'dashboard'})
		}
	},
	methods: {
		Login(e) 
		{							
			let defaultText = e.target.innerText			
			e.target.disabled = true
			e.target.innerText = 'Loading ...'
			Auth.login(this.data).then(response => {				
				e.target.disabled = false
				e.target.innerText = defaultText
				this.$store.commit('account/setUser', response.data)
				this.$router.push({path: '/admin/dashboard'})
			}).catch(err => {
				console.log(err.status)
				e.target.disabled = false
				e.target.innerText = defaultText
				this.invalid = true
			})
		}
	}
};
</script>